JCS_URL=http://localhost
JCS_PORT=8000THIS_HAS_TO_MATCH_WHATS_IN_THE_DOCKER-COMPOSE.YML_DEFAULT_IS_8000
JELLYFIN_URL=http://YOUR_JELLYFIN_URL:JELLYFIN_PORT
JELLYFIN_API_KEY=YOUR_JELLYFIN_API_KEY_MAKE_IT_IN_JELLYFINS_ADMIN_PANEL
CORS=true

